#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 
.main{
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
}

.btnBox {
  padding: 5px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.todoBox {
  border: 1px solid gray;
  margin: 10px;
  border-radius: 10px; 
  display: flex;
  flex-direction: column;
}